@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/livewire/src/Features/SupportPagination/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';

@import './themes/bridge.css';
@import './themes/index.css';

@theme {
    --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
    --font-mono: 'DM Mono', ui-monospace, monospace;
    --font-display: 'Barlow Condensed', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    html {
        @apply antialiased;
    }
}
